:root{
    --stdblack:#41464b;
    --stdgold:#86754d;
    --stddarkgold:#98694c;
    --stdblue:#868e96;
    --stdgray:#888888;
    --bgc:white;
}
*{
    margin: 0;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: 0px;
    border-bottom: white 0px solid;
    transition: all 0.3s;
}
header a:hover{
    border-bottom: white 3px solid;
    transition: all 0.3s;
}
html{
    width: 100%;
}
header{
    background-color: var(--stdgray);
    width: 100%;
    height: 8vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    gap: 2%;
    opacity: 80%;
    
}
main{
    width: 100%;
    height: auto;
}
article{
    padding: 5%;
    width: 90%;
    height: 100vh;
    background-color: var(--stdblack);
}
header img{
    height: 5vh;
    border-radius: 100000px;
    margin-left: 2vh;
}
header h1{
    color: white;
    font-size: x-large;
    margin-left: -1.5%;
}
header a{
    color: white;
    background-color: var(--stdgray);
    font-size: large;
    text-decoration: 0px;
    transition: all 0.2s;
}
#topblock{
    height: 8vh;
    width: 100%;
}
#a1{
    height: 100vh;
    background-image: url("picture/bgp1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 100%;
    width: 100%;
}
#a2{
    padding: 5%;
    width: 90%;
    height:  auto;
}
#a2 h2{
    color: white;
    margin-bottom: 5%;
}
#a2 div{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#a2 div{
    width: 100%;
}
#a2 div a{
    width: 30%;
}
#a2 div a div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
#a2 div a div img{
    width: 15vw;
    margin-bottom: 5%;
}
#a2 div a div h3{
    color: white;
    text-decoration: 0px;
    font-size: x-large;
}
#gmaillogo{
    border-radius: 30px;
}
#a3{
    padding: 5%;
    width: 90%;
    background-color: var(--stddarkgold);
}
#topic{
    color: white;
    font-size: 4vw;
}
#b1{
    height: auto;
    padding-top: 10%;
}
#b1 h2{
    color: white;
}
#b1 div{
    width: 100%;
    height:  auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#b1 div a{
    background-color: var(--stdblack);
    width: 40%;
    height: auto;
    min-width: 300px;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media (min-width: 768px){
        width: 20%;
    }
}
#b1 div a img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
#b1 div a h3{
    color: white;
    text-decoration: 0px;
    text-align: center;
    margin-top: 5%;
}
#l1{
    height: auto;
    padding-top: 10%;
}
#l1 h2{
    color: white;
    margin-bottom: 5%;
}
#l1 img{
    width: 100%;
    height: auto;
}
#l2{
    background-color: var(--stddarkgold);
    height: auto;
}
#l2 h2{
    color: white;
    margin-bottom: 5%;
}
#l2 table tr th{
    color: white;
    border: 5px var(--stddarkgold) solid;
    font-size: x-large;
    text-align: center;
    background-color: var(--stdgold);
    width: 20%;
}
#l2 table tr td{
    color: white;
    border: 5px var(--stddarkgold) solid;
    font-size: x-large;
    text-align: left;
    padding: 2%;
    background-color: var(--stdgray);
    width: 80%;
}
#l2 table{
    border-collapse: collapse;
    width: 100%;
    height: auto;
    padding: 2%;
}
footer{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
footer div div{
    width: auto;
    height: auto;
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
}
footer div div a, footer div div h6, footer div div p, footer p{
    color: var(--stdgray);
    text-decoration: none;
    font-size: medium;
    height: auto;
}
#copyright{
    margin: 1%;
}